<h1>Edit</h1>

<ul>
<% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', tractors_path %>
