<h2> All courses on Teach.r </h2>

<% @courses.each do |course| %>
<p> <%= link_to course.name, course_path(course) %> | <%= course.sessions.count %> sessions | Teacher: <%= Teacher.find(course.user_id).name %></p>
<% end %>
